.cpi {
    background-color: #ffa50033;
    border-radius: 100px;
    color: #ffa500;
    padding: 5px 20px 5px 20px;
}

.ctr {
    background: #5C56FF33;
    border-radius: 100px;
    color: #5C56FFFF;
    padding: 5px 20px 5px 20px;
}

.mon {
    background: #FF000033;
    border-radius: 100px;
    color: #FF0000E5;
    padding: 5px 20px 5px 20px;
}

.ready{
    cursor: pointer;
    color: #00B41AFF;
}

.running{

    cursor: pointer;
    color: #1C34B6CC;
}

.rejected{
    cursor: pointer;
    color: #F52727CC;
}

.waiting{
    cursor: pointer;
    color: #D19513FF;
}

.link {
    color: #00A2FF;
}

.link:hover {
    text-decoration: underline;
}

.altText {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #dfe4eb;
}