
.table__dash {
  width: 100%;
  border-collapse: collapse;
}

.overflow__container{
  height: 480px;
  overflow: auto;
}

.title{
  text-align: center;
  font-size: 36px;
  padding-top: 20px;
}

.table__dash tr td {
  pointer-events: none !important;
}

/*dfg*/