
.container {
  width: 1200px;
}

.table__dash {
  width: 100%;
  border-collapse: collapse;
}

.overflow__container{
  height: 730px;
  overflow: auto;
}

.title{
  text-align: center;
}

.table__dash tr td {
  pointer-events: none !important;
}