
.container {
  width: 1200px;
  /*margin: 20px;*/
  padding: 20px;
  /*border: 1px solid red;*/
}

.table__dash {
  /*table-layout: fixed;*/
  width: 100%;
  border-collapse: collapse;
}

.overflow__container{
  height: 450px;
  /*outline: 1px solid red;*/
  overflow: auto;
}

.title{
  text-align: center;
}

.table__dash tr td {
  pointer-events: none !important;
}