
.container {
  width: 1200px;
  /*margin: 20px;*/
  padding: 20px;
  /*border: 1px solid red;*/
}

.table__dash {
  /*table-layout: fixed;*/
  width: 100%;
  border-collapse: collapse;
}

.overflow__container{
  height: 450px;
  /*outline: 1px solid red;*/
  overflow: auto;
}

.react-datepicker {
  position: fixed !important;
  left: 540px;
  top: 540px;
}