
.container {
  width: 1200px;
  /*margin: 20px;*/
  /*padding: 20px;*/
  /*border: 1px solid red;*/
}

.table__dash {
   /*table-layout: fixed;*/
  width: 100%;
  border-collapse: collapse;
  /*min-height: 300px;*/
  /*overflow-x: auto;*/
}

.react-datepicker {
  position: fixed !important;
  left: 260px;
  top: 50px;
}