.row{
    cursor: default;
}

.cell {
    padding: 15px 5px;
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #EAECEE;
    vertical-align: middle;
}

.cellColorFact{
    background-color: #77AAD1;
    color: #ffffff;
}

.cellColorPred{
    background-color: #ffffff;
    color: #6E6C6C;
}

#_66b9e888 {
    color: darkcyan;
}