.cell {
    /*height: 55px;*/
    padding: 15px 5px;
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #EAECEE;
    vertical-align: middle;
}

.cell__color-fact{
    background-color: #77AAD1;
    color: #ffffff;
}

.cell__color-pred{
    background-color: #ffffff;
    color: #6E6C6C;
}