.cell {
    /*height: 55px;*/
    padding: 15px 5px;
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #EAECEE;
    vertical-align: middle;
}